* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
  background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
  background-size: 20px 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.weather-card {
  background: white;
  padding: 40px 30px;
  position: relative;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
  border-left: 8px solid #2a75ff;
}
.tape {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  width: 100px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
header {
  font-family: "Architects Daughter", cursive;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
}
.back-btn {
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}
.input-section input {
  width: 100%;
  padding: 15px;
  padding-right: 50px;
  font-family: "Architects Daughter", cursive;
  font-size: 1.2rem;
  /* letter-spacing: 2px; */
  border: 2px solid #eee;
  background: #fdfdfd;
  outline: none;
  transition: border-color 0.2s;
}
.input-section input:focus {
  border-color: #2a75ff;
}
.divider {
  text-align: center;
  margin: 20px 0;
  font-family: "Architects Daughter", cursive;
  font-size: 0.95rem;
  color: #444;
}
.divider span {
  top: -12px;
  left: 45%;

  padding: 0 10px;
  color: #888;
}
#geo-btn {
  width: 100%;
  padding: 15px;
  background: #2a75ff;
  color: white;
  border: none;
  font-family: "Architects Daughter", cursive;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
#geo-btn:hover {
  background: #2a75ff;
  transform: translate(-1px, -1px);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
#geo-btn:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.result-section {
  text-align: center;
  margin-top: 20px;
}
.icon-main {
  font-size: 5rem;
}
.temp {
  font-size: 4rem;
  margin: 10px 0;
  color: #1a1a1a;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.description {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  color: #555;
}
.city-name {
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  color: #333;
}
.footer-stats {
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #333;
  padding-top: 20px;
}
.stat-item {
  font-family: "Architects Daughter", cursive;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}
.stat-item i {
  font-size: 1.5rem;
  color: #2a75ff;
}
.stat-item p {
  font-size: 0.8rem;
  color: #333;
  margin: 0;
}
